{% extends "_base.html" %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <form method="post" novalidate class="p-4 bg-dark text-light rounded-3 shadow">
      {{ form.hidden_tag() }}
      <h2 class="mb-3">{{_('Реєстрація')}}</h2>

      <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", autocomplete="username") }}
        {% for err in form.username.errors %}<div class="text-danger small">{{ err }}</div>{% endfor %}
      </div>

      <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control", autocomplete="new-password") }}
        {% for err in form.password.errors %}<div class="text-danger small">{{ err }}</div>{% endfor %}
      </div>

      <div class="mb-3">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control", autocomplete="new-password") }}
        {% for err in form.confirm_password.errors %}<div class="text-danger small">{{ err }}</div>{% endfor %}
      </div>

      <button type="submit" class="btn btn-success btn-dark w-100">{{ form.submit.label }}</button>
    </form>
  </div>
</div>
{% endblock %}
